{% extends('frontend/base.htm') %}

{% block page %}

    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">

            {% for msg in app.session.flashBag.get('success') %}
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="section-title" style="color: blue;">s</h3>
                    </div>
                </div>
            {% endfor %}

            {% if globalPromo > 0 %}
                <div class="row">
                    <div class="col-md-12">
                    <h2 class="section-title fix-title">{{ globalPromo }}% DISCOUNT FOR ALL PRODUCTS!</h2>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <br/>
                        <h2 class="section-title">Latest Products</h2>
                        <div class="product-carousel">
                            
                            {% for prod in latestProds %}
                                <div class="single-product">
                                    <div class="product-f-image">
                                        <img src="{{ asset('uploads/products_photos/' ~ prod.photo) }}" alt="{{ prod.name }}" class="img-fix">
                                        <div class="product-hover">
                                            <a href="/add/{{ prod.id }}" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                            <a href="/product/{{ prod.id }}" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                        </div>
                                    </div>
                                    
                                    <h2><a href="/product/{{ prod.id }}">{{ prod.name }}</a></h2>
                                    
                                    <div class="product-carousel-price">
                                        {% if prod.promoPercent > 0 %}
                                            <ins style="color: red;">PROMO -{{ prod.promoPercent }}%</ins><br/>
                                            <ins>{{ prod.actualPrice }} BGN</ins> <del>{{ prod.price }} BGN</del>
                                        {% else %}
                                            <ins>{{ prod.actualPrice }} BGN</ins>
                                        {% endif %}
                                    </div> 
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->
{% endblock %}