<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a href="/"><img src="/frontend/img/logo.png"></a></h1>
                </div>
            </div>
            
            <div class="col-sm-6">
                
                {% if app.user %}
                    <div class="shopping-item">
                        <i class="fa fa-money"></i> &nbsp;
                        <span class="cart-amunt">{{app.user.cash}}</span> BGN 
                    </div>

                    <div class="shopping-item">
                        <a href="/cart">
                            <span class="cart-amunt">{{ totalPrice|number_format(2) }} BGN</span> 
                            <i class="fa fa-shopping-cart"></i> 
                            {% if cprodCount is defined and cprodCount > 0 %}
                                <span class="product-count">{{ cprodCount }}</span>
                            {% endif %}
                        </a>
                    </div>
                {% else %}
                    <div class="shopping-item">
                        <a href="/login">
                            <i class="fa fa-shopping-cart"></i>  
                            Login to shop &nbsp;&nbsp;
                        </a>
                    </div>
                {% endif %}

                </div>
            </div>
        </div>
    </div>
</div> <!-- End site branding area -->