<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div> 
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li {% if current_template == 'frontend/index' %} class="active" {% endif %}><a href="{{ url('home') }}">Home</a></li>

                    {% for cat in shopCats %}
                        <li {% if category is defined and category.id ==  cat.id %} class="active" {% endif %}><a href="/category/{{ cat.id }}">{{ cat.name }}</a></li>
                    {% endfor %}
                    
                    {% if app.user %}
                        <li {% if current_template == 'frontend/cart' or current_template == 'frontend/checkout' %} class="active" {% endif %}><a href="{{ url('cart') }}">Cart</a></li>
                    {% endif %}
                </ul>
            </div>  
        </div>
    </div>
</div> <!-- End mainmenu area -->